.header {
  background-color: #a2d2ff; /* Baby blue color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-left {
  font-size: 1.5em;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right span {
  margin-left: 10px;
}

/*Products Styling*/

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
}

.product img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  margin-right: 15px;
}

.product-info {
  flex-grow: 1;
}

.quantity-input {
  width: 50px;
}
